{% load static %}
{% load sass_tags %}
{% extends 'base.html' %}

{% block content %}
    <main>
        <section>
            <div class="error-section">
                <div class="error-container container">
                    <img src="{% static 'images/gallery/dog.png' %}">
                    <div class="content">
                        <span class="h1-text">К сожалению, такой страницы не существует</span>
                        <div class="end">
                            <span class="p-text">Ошибка 404</span>
                            <a href="{% url 'index' %}"><button class="buttom">На главную</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

