{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block content %}
    <main>
    <section>
        <div class="hero-section">
            <div class="hero-container container">
                <div class="content-text">
                    <span class="h1-text">Здоровой собаке нужен здоровый уход</span>
                    <div class="text">
                        <span class="p-text">Груминг собак – очень важное мероприятие<br>для любой собаки, независимо от породы,<br>размера и возраста. </span>
                        <span class="p-text d-none-text">Регулярные процедуры по уходу за шерстью,<br>когтями, зубами, глазами и ушами обеспечивают<br>здоровье собаки на долгие годы.</span>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="gryming-section">
            <div class="gryming-container container">
                <div class="help-gryming-text">
                    <span class="h1-text parara">Регулярный груминг <span class="help">помогает</span> предотвратить различные заболевания </span>
                    <div class="small-text">
                        <span class="h1-text">01.</span>
                        <span class="p-text">Кроме того, груминг может помочь укрепить связь между владельцем и животным, так как это время, проведенное вместе.</span>
                    </div>
                </div>
                <div class="main-procedoor">
                    <div class="image">
                        <img srcset="{% static 'images/gallery/cute-dog.png' %}" alt="">
                    </div>
                    <div class="content">
                        <span class="h1-text">Основные процедуры</span>
                        <span class="p-text">Уход за домашними собаками состоит из нескольких процедур,выполняемых поэтапно</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-white">
        <div class="types-grooming-section">
            <div class="types-grooming-container ">
                <div class="content">
                    <div class="text-types">
                        <span class="types-text">Виды груминга</span>
                        <span class="h1-text">Профессиональный груминг необходим для собак с густой и жесткой шерстью, а также для питомцев, участвующих в <span
                                class="grey-text">выставках и соревнованиях.</span></span>
                    </div>

                    <div class="cards">
                        <img id="image" srcset="" alt="">
                        <div class="parems">
                            <div class="types-grooming" data-image="{% static 'images/animate-image/ced-dog.png' %}">
                                <div class="mobile">
                                    <span class="brown-text">01.</span>
                                    <span class="h1-text d-block-mobile">Гигиенический</span>
                                </div>
                                <div class="text">
                                    <span class="h1-text d-none-mobile">Гигиенический </span>
                                    <span class="p-text">Домашние процедуры по уходу, направленные на поддержание гигиены животного.</span>
                                </div>
                                <a href="{% url 'price' %}">
                                    <button class="btn brown">Подробнее</button>
                                </a>
                            </div>
                            <div class="types-grooming" data-image="{% static 'images/animate-image/funny-dog.png' %}">
                                <div class="mobile">
                                    <span class="brown-text">02.</span>
                                    <span class="h1-text d-block-mobile">Профессиональный</span>
                                </div>
                                <div class="text">
                                    <span class="h1-text d-none-mobile">Профессиональный</span>
                                    <span class="p-text ">Выполняется в специализированных салонах. Включает процедуры по уходу и модельные стрижки.</span>
                                </div>
                                <a href="{% url 'price' %}">
                                    <button class="btn brown">Подробнее</button>
                                </a>
                            </div>
                            <div class="types-grooming" data-image="{% static 'images/animate-image/photo-dog.png' %}">
                                <div class="mobile">
                                    <span class="brown-text">03.</span>
                                    <span class="h1-text d-block-mobile">Эстетический</span>
                                </div>
                                <div class="text">
                                    <span class="h1-text d-none-mobile">Эстетический</span>
                                    <span class="p-text">Фигурная стрижка шерсти, отбеливание зубов, татуаж и другие процедуры, выполняемые с целью подготовки животного к выставкам и фотосессиям.</span>
                                </div>
                                <a href="{% url 'price' %}">
                                    <button class="btn brown">Подробнее</button>
                                </a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="stages-section">
            <div class="stages-container container">
                <img src="../static/images/gallery/groomer.svg">
                <div class="grids">
                    <div class=" wow slideInUp ped-one" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="p-text">Шерсть животного тщательно расчесывается, удаляются колтуны и старые волоски. Используются специальные щетки и расчески.</span>
                        <div class="end-one">
                            <span class="h1-text">Шаг 1</span>
                            <img srcset="{% static 'images/logos/mini-logo.svg' %}">
                        </div>


                    </div>
                    <div class="two wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="h1-text">Шаг 2</span>
                        <span class="p-text">Модельная стрижка шерсти и гигиеническая обработка глаз.</span>
                    </div>
                    <div class="three wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="h1-text">Шаг 3</span>
                        <span class="p-text">Чистка ушей и зубов, cтрижка когтей с использованием когтерезки.</span>
                    </div>
                    <div class="four wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="h1-text">Шаг 4</span>
                        <span class="p-text">Водные процедуры. Шерсть и кожа животного тщательно вымывается с использованием специальных шампуней и других средств для ухода за животными.</span>
                    </div>
                    <div class="five wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <span class="h1-text">Шаг 5</span>
                        <span class="p-text">Обтирание шерсти полотенцем и просушивание феном.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="banner-section">
            <div class="banner-container container">
                <img src="{% static 'images/gallery/funny-dog.png' %}">
                <div class="banner-text">
                    <span class="h1-text">Используй промокод “Groomer” чтобы получить скидку 20% на первый заказ</span>
                    <button class="button-procedoor">Заказать процедуру</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="ceo-text-section">
            <div class="ceo-text-container container">
                <div>
                    <h1 class="h1-text">{{ text_page_obj.seo_h1 }}</h1>
                    <article>
                        {{ text_page_obj.content|safe }}
                    </article>
                </div>

            </div>
        </div>
    </section>
</main>
{% endblock %}

