{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <section>
                <div class="hero-block-section">
                    <div class="hero-block-container container">
                        <span class="h1-text">Мы понимаем, что не многие могут позволить себе дорогой груминг. Именно поэтому наша ценовая политика довольно гибка, и <span class="brown-text">каждый</span> сможет позволить себе наши услуги.</span>
                        <div class="prices">
                            <img id="image" src="../static/images/animate-image/ced-dog.png" alt="Изображение">
                            <div class="flex parems">
                            <div class="card">
                                <div class="start">
                                    <img src="{{ master.photo.url }}">
                                    <div class="jov-name">
                                        <span class="name">{{ master.name }}</span>
                                        <span class="job">{{ master.post }}</span>
                                    </div>
                                </div>
                                <div class="end">
                                    <span class="history">{{ master.description }}</span>
                                </div>
                            </div>

                            {% for Service in Services %}
                                <div class="  types-grooming price padding-top" data-image="{% static 'images/animate-image/ced-dog.png' %}">
                                    <span class="brown-text">{{ Service.service_number }}</span>
                                    <div class="content">
                                        <div class="text">
                                            <span class="h1-text">{{ Service.service_name}}</span>
                                            <span class="p-text">{{ Service.description }}</span>
                                        </div>
                                        <ul>
{#                                        вывод inline полей#}
                                            {% for description in Service.servicedescriptions_set.all %}
                                            	<li>{{ description.name }}</li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                    <div class="price-text">
                                        <div class="end">
                                            <span class="brown-text-h1">от {{Service.formatted_price}}₽</span>
                                            <span class="grey-text">*Окончательная цена зависит от характеристик животного</span>
                                        </div>
                                        <button class="btn brown price-button popup-open application" >Выбрать услугу</button>
                                    </div>
                                </div>
                                {% endfor %}




                        </div>
                    </div>
                </div>
        </section>
        <section>
            <div class="banner-section">
                <div class="banner-container container">
                    <img src="../static/images/gallery/funny-dog.png">
                    <div class="banner-text">
                        <span class="h1-text">Используй промокод “Groomer” чтобы получить скидку 20% на первый заказ</span>
                        <button class="button-procedoor">Заказать процедуру</button>
                    </div>
                </div>
            </div>
        </section>
         <section>
            <div class="ceo-text-section">
                <div class="ceo-text-container container">
                    <div>
                        <h1 class="h1-text">{{ text_page_obj.seo_h1 }}</h1>
                    <article>
                       {{ text_page_obj.content|safe}}
                   </article>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}

