{% extends 'base.html' %}
{% load static %}
{% block content %}
     <main>
        <section>
            <div class="reviews-section">
                <div class="reviews-container container">
                    <span class="h1-text"><span class="brown-text">9 из 10 клиентов</span> приходят к нам повторно.</span>
                    <div class="cards">
                        {% for reviews in review %}
                            <div class="card">
                                <div class="start">
                                    <img src="{{ reviews.review_photo.url }}">
                                    <div class="jov-name">
                                        <span class="name">{{ reviews.review_name}}</span>
                                        <span class="job">{{ reviews.review_post }}</span>
                                    </div>
                                </div>
                                <div class="end">
                                    <span class="history">{{ reviews.review_description }}</span>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <button>Загрузить еще</button>
                </div>
            </div>
        </section>

    </main>
{% endblock %}


